*{}
body{
    background-color: #EDEDED;
}
.container{
    padding: 0;
}
.header-title{
    margin: 1.0rem 0;
    padding-left: 1rem;
    font-size: 2.5rem;
    font-family: "monospace";
}
.header-phone{
    float: right;
    position: relative;
}
.header-phone img{
    width: auto;
    height: 33px;
    margin-right: 5px;
}
.section-enter{
    background-image: url("../images/index_url.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 20rem;
    text-align: right;
    border: solid 1px #cccccc;
}
.section-enter-des{
    position: relative;
    margin-right: .8rem;
}

.section-enter-des h4{
    padding-top: 1.3rem;
    color: rgba(126,126,126,1);
}
.section-enter-des span{
    display: block;
    color: rgba(211,211,212,1);
}
.section-enter-des button{
    margin-top: 3rem;
    background-color: rgba(252,137,161,1);
    border-color: rgba(188,38,68,1);
    color: #ffffff;
    height: 3.5rem;
    border-top: 0;
    border-radius: 20px;
}
.section-enter-des button:hover{
    background-color: rgba(252,137,161,1);
}
.section-btns{
    margin: 2rem 0;
    border: solid 1px #cccccc;
}
.section-btns img{
    width: 100%;
}
.index-footer{
    text-align: center;
}
.index-footer span{
    font-size: 1.3rem;
    color: #8C8C8C;
}
.app-form{
    margin-left: 1rem;
    margin-right: 1rem;
}
.app-form .form-group{
    display: block;
    padding-top: .8rem;
    padding-bottom: .6rem;
    border-bottom: solid 1px #cccccc;
}
.app-form .form-group .am-u-sm-7{
    margin: 8px 0;
}
.app-form .form-group .am-u-sm-5{
    /*margin-left: 10px;*/

}
#app-form-radio label{
    color: #FFFFFF;
    background-color: rgba(206,207,208,1);
    /*width: 30%;*/
    /*margin-right: 3px;*/
}
#app-form-radio>label:first-child{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
#app-form-radio>label:last-child{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.app-btn-pink,#app-form-radio>.am-active{
    background-color: rgba(252,137,161,1)
}
.app-form-points{
    text-align: right;
    color: rgba(252,137,161,1);
    font-size: 2rem;
}
.app-form-points>span{
    cursor: pointer;
}

/*.app-form .form-group input[type=radio]{*/
    /*color: #FFFFFF;*/
/*}*/

.modal-overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:200%;
    z-index: 5;
    background-color: rgba(81,81,81,0.7);
}

.modal-data{
    width:90%;
    margin: 150px auto;
    background-color: #fff;
    padding:15px;
    /*color: rgba(252,137,161,1);*/
    color: rgba(150,150,150,1);
    border-radius: 10px;
}
.modal-data-title{
    color: rgba(252,137,161,1);
    font-size: 1.8rem;
}
.modal-data .form-group{
    border-bottom: 0;
}
.modal-data hr{
    height:1px;
    border:none;
    border-top:1px dashed #CCCCCC;
    margin: 0;
}
.modal-data>p{
    padding: 0;
    margin: 0;
    margin-left: 1rem;
    margin-bottom: .5rem;
    font-size: 1.4rem;
}
#user_child_gender .app-add-child{
    padding-left: 1rem;
    margin: 2rem auto;
    display: block;
    cursor: pointer;
}
#more_children .am-u-sm-5{
    margin-top: 1.5rem;
}
.app-modal-btn{
    background-color: rgba(252,137,161,1);
    color: #FFFFFF;
}
.app-modal-btn:active,.app-modal-btn:focus{
    color: #FFFFFF;
    background-color: rgb(223,78,108);
}
#app-form-text input[type=number]{
    width:80%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: solid 1px;
}
#app-form-text input[type=number]:focus{
    outline:medium;
}
#user_child_number .am-u-sm-5{
    padding: .5rem 0;
    padding-right: .7rem;
}
#user_child_number .am-u-sm-5 .am-btn{
    font-size: 1.2rem;
}
.res-sector{
    text-align: center;
}
.res-sector>p{
    color: rgb(175,175,175);
    margin: 3rem 0;
}
.res-header{
    background-color: rgba(252,137,161,1);
    color: #FFFFFF;
    font-size: 2.6rem;
    text-align: center;
    height: 4rem;
    padding: 0 5px;

}
.res-header>span{
    position: relative;
    top: 3px;
}
.res-header .am-icon-sm:before{
    font-size: 100%;
}
.res-detail{
    padding: 0 3rem;
    color: #000000;
}
.res-article{
    padding: 0 .5rem;
}
.form-group .am-u-sm-12{
    border-bottom: solid 1px #EAEAEA;
}
.res-article>ul:first-child, .modal-data .form-group ul{
    text-align: center;
    margin: 1.5rem auto;
}
.res-article>ul:first-child button, .modal-data .form-group ul button{
    background-color: #FFFFFF;
    color: #CCCCCC;
    border: solid 1px #CCCCCC;
    border-radius: 10px;
    width: 90%;
    margin: .5rem 0;
    padding: .5rem 0;
    font-size: 1.2rem;
}
.res-article>ul:first-child .app-btn-active, .modal-data .form-group ul .app-btn-active{
    background-color: rgba(252,137,161,1);
    color: #FFFFFF;
}
#app-form-checkbox li>button>span{
    color: rgba(252,137,161,1);
}
.res-article-analysis>ul{
    background-color: #FFFFFF;
}
.res-article-analysis>section{
    margin: 1.5rem 0;
    background-color: #FFFFFF;
}
.res-article-analysis>section>h2{
    font-size: 1.5rem;
    border-bottom: solid 1px #E2E2E2;
    margin: 0;
}
.res-article-analysis>section>span{
    font-size: 1rem;
    color: rgb(153,153,153);
}
.res-article-solution>.am-g{
    margin: 2rem 0;
    border: solid 1px #E2E2E2;
    height: 100px;
}
.res-article-solution>.am-g>div:first-child{
    color: #FFFFFF;
    background-color: #e3e3e3;
    height: 100px;
    text-align: center;
}
.res-article-solution div[class^="am-u-"]{
    padding: 0;
}
.res-article-solution li{
    list-style: none;
}
.aside-fixed-right{
    position: fixed;
    top:50%;
    right:0;
    background-color: rgba(253,172,189,0.7);
    color: #FFFFFF;
    border: solid 1px #c2c2c2;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 3.5rem;
    z-index: 999;
}
.res-article-analysis canvas{
    width: 100%;
    height: 200px;
}
@media screen and (min-width: 500px){

.section-enter{
    height: 30rem;
}

}